html {
    font-family: "Inter", sans-serif;
    color: #6b7280;
}

a {
    text-decoration: none;
    color: inherit;
}

details {
    summary {
        font-weight: 600;
        padding-bottom: 8px;
    }
}

small,
.small {
    font-size: 14px;
}